@use '../shared/mixins' as *;

.about-me-section {
    height: 852px;
    width: 100%;
    margin-top: 72px;
    margin-inline: auto;
    padding-left: 16px;
    @include section-padding();
    @include d-flex($jus: space-evenly);
}

.my-photo-container {
    z-index: 10;
    position: relative;
    width: 568px;
    height: 568px;

    .my-photo {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 30px;
        z-index: 10;
    }

    .my-photo-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 30px;
        z-index: 1;
        bottom: 0;
    }

    .photo-hovered {
        transform: translate(-46px, 30px);
        transition: all 125ms ease-out;
    }
}


.about-me-container {
    width: 568px;
    height: 100%;
    @include d-flex($dir: column, $jus: flex-end, $gap: 20px);
    

    h2 {
        font-weight: 500;
    }

    .text-box {
        width: 100%;
        backdrop-filter: blur(4px);
        z-index: 10;
        position: relative;
        @include text-box();
        @include d-flex($dir: column, $gap: 40px);


        div {
            @include d-flex($dir: column, $gap: 32px);

            div {
                gap: 16px;

                div {
                    flex-direction: row;
                    gap: 24px;
                    transition: all 125ms ease-out;

                    p {
                        color: #FFFFFFCC;

                    }

                    &:hover {
                        transform: translate3d(0.5px, -0.5px, 0);

                        p {
                            color: white;
                        }
                    }
                }

            }
        }

    }
}





@media (min-width: 1920px) {
    .about-me-section {
        width: 1920px;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    .about-me-section {
        height: auto;
        gap: 40px;
        width: 100%;
        align-items: center;
    }

    .my-photo-container {
        min-width: 358px;
        min-height: 358px;
        width: 40vw;
        height: 40vw;

        .photo-hovered {
            transform: translate(-36px, 20px);

        }
    }


    .about-me-container {
        width: 40vw;
    }
}

@media (max-width: 1024px) {
    .about-me-section {
        flex-direction: column;
        height: auto;
        gap: 70px;
        align-items: center;
    }

    .about-me-container {
        width: auto;
    }
}

@media (max-width: 768px) {
    .about-me-section {
        gap: 40px;
        margin-top: 50px;
    }

    .my-photo-container {
        max-width: 568px;
        max-height: 568px;
        width: 100%;
        height: 100%;

        .my-photo-hover {
            bottom: 5px;
        }

        .photo-hovered {
            transform: translate(-12px, 12px);
            transition: all 125ms ease-out;
        }
    }

    .about-me-container {
        gap: 16px;

        .text-box {
            gap: 32px;
            padding-block: 27px;
            div{
                gap: 24px;
            };
        }
    }

}
