@import '../_mixins.scss';

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
    z-index: 21;
    position: absolute;
    width: 100%;
    top: 0;
}

.header-container {
    @include d-flex($al: center, $jus: space-between);
    padding-inline: 96px;
    height: 98px;

    nav {
        @include d-flex($gap: 24px);

        a {
            position: relative;
            font-family: 'Fira Code';
            font-size: 20px;

            span {
                background-color: #3DCFB6;
                display: none;
                position: absolute;
                height: 6.4px;
                width: 6.4px;
                border-radius: 30px;
                bottom: -8px;
                left: calc(50% - 3.8px);
            }

            &:hover {
                span {
                    display: block
                }
            }


        }
    }
}

.link-selected {
    color: #3DCFB6 !important;

    span {
        display: block !important;
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 28px;
    cursor: pointer;


    input {
        opacity: 0;
        width: 0;
        height: 0;

    }

    span {
        position: absolute;
        width: 84px;
        height: 28px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .125s;
        transition: .125s;
        border-radius: 100px;
        border: 1px solid #3DCFB6;


        &:hover {
            border: 1px solid white;
        }

        &:before {
            position: absolute;
            content: "";
            bottom: -1px;
            left: -1px;
            height: 28px;
            width: 44px;
            background-color: #3DCFB6;
            -webkit-transition: .125s;
            transition: .125s;
            border-radius: 100px;
        }
    }

    input:checked+span:before {
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        transform: translateX(40px);
    }

}

.options {
    position: absolute;
    @include d-flex($al: center, $jus: center);
    width: 84px;
    height: 28px;
    top: 0;
    left: -1px;
    border-radius: 100px;
    z-index: 2;

    &:hover~span {
        border: 1px solid white !important;
    }

    &:hover p {
        color: #3DCFB6;
    }

    p {
        font-size: 16px;
        font-family: 'Fira Code';
        padding-inline: 12px;
        color: #3DCFB680;
        cursor: pointer;

    }
    .selected {
        color: white !important;
        font-weight: 700 !important;
    }
}




.logo-container {
    height: 100%;
    @include d-flex($al: center, $jus: center);

    img {
        height: 54px;
        content: url('../../../assets/images/shared/logo.png');

        &:hover {
            content: url('../../../assets/images/shared/logo_hover.png');
            height: 55px;
            cursor: pointer;
        }
    }
}

.burger-menu {
    @include d-flex($dir: column, $al: center, $jus: center, $gap: 8px);
    width: 48px;
    height: 48px;
    cursor: pointer;

    span {
        height: 2px;
        width: 32px;
        background-color: white;
        border-radius: 30px;
        cursor: pointer;

    }

    &.active {
        span {
            background-color: #3DCFB6;
            height: 2.5px;
            width: 34px;
        }
    }
}

.layout {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    &.active {
        display: block;
    }
}

@media (min-width: 1920px) {
    .header-container {
        width: 1920px;
        margin-inline: auto;
    }
}

@media (max-width: 1300px) {
    .header-container {
        padding-inline: 50px;
    }
}

@media (max-width: 768px) {
    header {
        background: none;
    }

    .header-container {
        padding-inline: 16px;
        margin-top: 32px;
        height: 50px;
        position: relative;
    }

    .logo-container {
    
        img {
            height: 48px;
            content: url('../../../assets/images/shared/logo_mobile.png');
    
            &:hover {
                height: 47px;
                content: url('../../../assets/images/shared/logo_mobile_hover.png');
                cursor: pointer;
            }
        }
    }

    .nav-mobile {
        display: none !important;
        @include text-box();
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        flex-direction: column-reverse !important;
        position: absolute;
        padding: 40px 77px;
        top: 48px;
        right: 16px;
        z-index: 5;
        &.active {
            display: flex !important;
        }
        a {
            font-size: 18px !important;
        }
    }
}