@mixin d-flex($dir: row, $al: flex-start, $jus: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  align-items: $al;
  justify-content: $jus;
  gap: $gap;
}


@mixin text-box {
  padding: 32px;
  border: 1px solid #3DCFB6;
  border-radius: 30px;
  background-color: #3DCFB61A;
}

@mixin section-padding {
  padding-block: 72px;

  @media (max-width: 1024px) {
    padding-block: 50px !important;
    padding-inline: 50px !important;
  }

  @media (max-width: 768px) {
    padding-inline: 16px !important;
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 8px;
    // width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 30px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3DCFB6;
    border-radius: 100px;
    border: 3px solid #1C1C1C;
  }
}

@mixin button {
  border: 1px solid #ffffff;
  border-radius: 100px;
  overflow: hidden;
  padding: 13px 24px;
  cursor: pointer;
  @include d-flex($al: center, $jus: center);
  transition: all 125ms ease-in-out;

  p {
    text-align: center;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &:hover {
    border: 1px solid #3DCFB6;

    p {
      color: #3DCFB6;
      cursor: pointer;
    }
  }

  &.disabled {
    color: #FFFFFFCC !important;
    border: 1px solid lightgrey !important;

    p {
      color: #FFFFFFCC !important;
    }

    &:hover {
      border: 1px solid #FFFFFFCC !important;

    }
  }
}