<div class="contact-me-section" id="contact">
    <div class="text-box">
        <div>
            <h2>{{'contactMe.tagLine' | translate}}</h2>
            <h1>{{'contactMe.title' | translate}}</h1>
        </div>
        <div>
            <h3>{{'contactMe.question' | translate}}</h3>
            <p>{{'contactMe.content' | translate}}</p>
            <div>
            <p>{{'contactMe.contactMe1/2' | translate}}</p> &nbsp;
            <p>{{'contactMe.contactMe2/2' | translate}}</p>
            </div>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</div>