@use '../shared/mixins' as *;

.background {
    width: 100%;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
}

.skills-section {
    width: 100%;
    margin-inline: auto;
    @include section-padding();
    @include d-flex($jus: space-evenly);
}


.text-container {
    position: relative;
    z-index: 10;
    width: 520px;
    @include d-flex($dir: column, $gap: 20px);


    .text-box {
        width: 100%;
        @include text-box();
        @include d-flex($dir: column, $gap: 40px);

        h1 {
            word-break: break-word;
        }


        div {
            @include d-flex($dir: column, $gap: 32px);

            div {
                gap: 16px;
                width: 332px;

                h3 {
                    span {
                        font-family: 'Fira Code';
                        font-weight: 700;
                        font-size: 24px;
                        color: #FFFFFF;
                    }

                    span:nth-child(2) {
                        color: #3DCFB6;
                    }
                }

                p {
                    font-size: 16px;
                }
            }

        }
    }
}



.skills-container {
    padding-top: 48px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 72px;
    row-gap: 40px;
    z-index: 10;

    div {
        width: 104px;
        height: 116px;
        @include d-flex($dir: column, $al: center, $gap: 8px);

        p {
            text-align: center;
            font-family: "Fira Code";
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

}

.growth {
    position: relative;


    &:hover {
        p {
            color: #3DCFB6;
        }

        .growth-hover {
            display: flex;
        }
    }

    .growth-hover {
        height: auto;
        display: none;
        position: absolute;
        top: -114px;
        width: 188px;
        left: 0;
        background: white;
        border-radius: 16px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;

        img {
            transform: none !important;
        }

        p {
            font-size: 16px;
            font-family: "Karla";
            color: #3DCFB6;
        }

        div {
            flex-direction: row;
            gap: 16px;
            height: auto;

            div {
                flex-direction: column;
                gap: 5px;


                p {
                    font-size: 12px;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }

        .pointer {
            position: absolute;
            bottom: -14px;
            left: 40px;
            filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
        }

    }

}





@media (min-width: 1920px) {

    .skills-section {
        width: 1920px;
    }
}

@media (min-width: 2560px) {
    .background {
        background: none;
    }
}


@media (min-width: 1025px) and (max-width: 1300px) {
    .text-container {
        width: 40vw;
    }

    .skills-container {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1024px) {

    .skills-section {
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        width: 100%;
    }

    .skills-container {
        width: 100%;
        grid-template-columns: repeat(auto-fit, 104px);
        justify-content: center;
    }

}

@media (max-width: 768px) {

    .skills-section {
        gap: 40px;
    }

    .text-container {
        gap: 16px;

        .text-box {
            gap: 32px;
            padding-block: 24px;

            div {
                gap: 24px;

                div {
                    gap: 12px;
                    width: 100%;
                    h3 {
                        span{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .skills-container {
        padding-top: 0;
        column-gap: 16px;
        row-gap: 32px;
    }
}
