*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Fira Code, sans-serif;
}
a {
  text-decoration: none;
}









@font-face {
  font-family: "Fira Code";
  src: url('assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Host Grotesk";
  src: url('assets/fonts/HostGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}