<footer>
    <div class="footer-container">
        <div class="logo-container">
            <a [routerLink]="'/'" [fragment]="'atf'"  (click)="scrollToTop()">
                <img src="../assets/images/shared/logo.png" alt="">
            </a>
            <div>
                <p>{{'footer.role' | translate}}</p>
                <p>{{'footer.location' | translate}}</p>
            </div>
        </div>
        <h1 class="hide-mobile"> &#169; Robert Pap 2025</h1>
        <div class="socials-container">
            <a href="https://github.com/RobertPap57" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="https://linkedin.com/in/robert-pap-dev" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="mailto:info&#64;robert-pap.de">Email</a>
            <a *ngIf="router.url !== '/legal-notice'" routerLink="/legal-notice">{{'footer.legalNotice' | translate}}</a>
            <a *ngIf="router.url === '/legal-notice'" routerLink="/privacy-policy">{{'footer.privacyPolicy' | translate}}</a>
        </div>
    </div>
    <h1 class="hide-desktop"> &#169; Robert Pap 2025</h1>

</footer>